<form [formGroup]="form" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>         
        </mat-card-header>

        <mat-card-content>   

            <div class="row">
                <div class="col-xs">
                  <mat-form-field>
                    <input placeholder="Nombre" formControlName="name" matInput type="text" />
                  </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                  <mat-form-field>
                    <input placeholder="Contraseña" formControlName="password" matInput type="password"/>
                  </mat-form-field>
                 </div>
            </div>

            <div *ngFor="(this.form.get('password').errors && this.form.get('password').dirty) || (this.form.get('name').errors && this.form.get('name').dirty)">
              <p > El nombre o contraseña no es valido</p>
              
            </div>
                

        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit"> Ingresar </button>
        </mat-card-actions>
    </mat-card>

</form>
