
.footer {
    background-color: #262626 ;
    h2 {
        color: whitesmoke;
    }
    span {
        color: white;
    }
    li {
        margin: 10px;
        list-style:none;
    }
    
 }
.box {
    padding: 30px;
    //margin: 30px;
    
}
/*
.container {
    //background-color: #262626 ;
}
*/

.icon { 
    color: white; 
}